body {
    font-family: 'Arial', sans-serif;
    background-color: #333; /* Sfondo scuro */
    color: #fff; /* Testo bianco */
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    max-width: 400px;
    margin: 50px auto;
    background-color: #444; /* Sfondo scuro leggermente più chiaro */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Ombra più evidente */
}

h2 {
    text-align: center;
    color: #fff; /* Testo bianco */
    margin-bottom: 20px;
}

.error {
    background-color: #cc0000; /* Rosso scuro per gli errori */
    color: #fff; /* Testo bianco */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #fff; /* Testo bianco */
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #666; /* Bordo grigio scuro */
    border-radius: 5px;
    transition: border-color 0.3s;
    background-color: #555; /* Sfondo grigio scuro */
    color: #fff; /* Testo bianco */
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #007bff; /* Bordo blu chiaro al focus */
}

button {
    width: 100%;
    padding: 12px;
    background-color: #007bff; /* Blu chiaro */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3; /* Blu più scuro al passaggio del mouse */
}

select {
    width: 100%;
    padding: 10px;
    border: 1px solid #666; /* Bordo grigio scuro */
    border-radius: 5px;
    transition: border-color 0.3s;
    background-color: #555; /* Sfondo grigio scuro */
    color: #fff; /* Testo bianco */
}

select:focus {
    border-color: #007bff; /* Bordo blu chiaro al focus */
}

a {
    color: #007bff; /* Link blu chiaro */
    text-decoration: none;
}

a:hover {
    color: #0056b3; /* Link blu più scuro al passaggio del mouse */
}

input[type="text"],
input[type="password"] {
    width: 100%; /* Imposta la larghezza al 100% del contenitore genitore */
    max-width: 300px; /* Imposta la larghezza massima desiderata */
    padding: 10px; /* Aggiungi il padding per migliorare l'aspetto */
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px 0; /* Spaziatura interna del footer */
    text-align: center; /* Allinea il testo al centro */
    font-size: 14px; /* Dimensione del carattere */
}
